html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  
}


body {
box-shadow: inset 0 0px 10px rgba(0, 0, 0,11.5); 
margin-bottom: auto;
overflow: auto;
margin: 0;
width: 100%;
padding-top: 20px;
padding-bottom: 10px;
background-color: white;
display: flex;
flex-wrap: wrap;
justify-content: center;
/*   
  
   //background-image: url("https://image.freepik.com/free-vector/fish-seamless-background_8365-65.jpg");
  background-image: url("https://t3.ftcdn.net/jpg/01/07/14/00/360_F_107140090_3eRlMItNMxEcw67BDq0lPAppu5q62QUw.jpg");

  background-image: url("https://media.istockphoto.com/photos/abstract-red-cement-wall-texture-picture-id520420178?k=20&m=520420178&s=612x612&w=0&h=njt0IQde-e1L-0ooBvUCh1hnlNkXg_RglzQsFAQ8_-M=");

    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/923/419/small/cute-mustache-tacos-logo-mascot-illustrations-for-your-work-logo-mascot-merchandise-t-shirt-stickers-and-label-designs-poster-greeting-cards-advertising-business-company-or-brands-vector.jpg");
  
  
  background-image: url("https://media.istockphoto.com/photos/abstract-red-cement-wall-texture-picture-id520420178?k=20&m=520420178&s=612x612&w=0&h=njt0IQde-e1L-0ooBvUCh1hnlNkXg_RglzQsFAQ8_-M=");
 
   background-image: url("https://img.freepik.com/vector-gratis/taco-comida-tradicional-mexicana-ilustracion-aislada_184733-99.jpg?w=360");
 */
  background: black;
}


#headerimg{width: 100px; margin: 0px;}

.header-wrapper{display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
  width: 100%; height: cover; margin-bottom: 35px; margin-top: 35px; border-radius: 20px;}


/* width */
::-webkit-scrollbar {
width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
background: black;
 
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background:white;
}




.nav {
  height: 60px;
  flex: 100%;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 0px;
  color: white;
  background-color: black;
  box-shadow: inset 0 0px 10px rgba(0, 0, 0,11.5);
  z-index: 1;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
  font-weight: bold;
}

.nav li {
  display: inline;
  text-align: center;
  flex: 1;
  
}

.nav a, .nav span {
  display: block;
  font-size: 100%;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.nav li:hover {
 background-color: white;
 color: black;
 border-radius: 20px;
}
  .nav a:hover {
   color: black;
}



h1 {
/*  Menu Title  */
  color: white;
  text-align: center;
  font-size: auto;
  line-height: 0;
  padding: 0px;
  margin: 0px;
  top: 0;
  width: 100%;
  color: black;
/*  border: 5px solid black; */
  border-radius: 30px;
  font-size: 40px;
  font-family: Pacifico, Nixie One, serif;
  color: white;background: black; }



/* h2 colors */

h2 {
  text-align: left;
  font-size: auto;
  line-height: 0;
  padding: 10px;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;}


.appetizers{
  padding: 10px;
  border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   margin-top: -50px;
}

.main-course{
  //background-color: #f991af; 
  padding: 10px; background: linear-gradient(#f2eecb, #cfb997, #f2eecb);  background: black;
}


.desserts{
background-color: #abdbe3;
 background: linear-gradient(#f2eecb, #cfb997, #f2eecb); 
padding: 10px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; background: black;
}

mark 
{
padding: 30px;
border-radius: 40px;
font-size: 130%;
background-color: white;

  
}

.center {
  margin: 0px;
  width: 100%;
  height: 15%;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.iframe-wrapper{
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
  overflow: hidden;
  border: 5px solid black; 
}

h3{color: white;
  text-align: center;
  font-size: auto;
  background: #f9adc9;
  color: black;
  width: 100%;
  padding: 20px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  background: black;
  color: white;
}


section
{
  
box-shadow: inset 10px 10px 10px rgba(0, 0, 0,11.5);
filter: drop-shadow(0 0 1rem black);
margin-top: auto;
margin: 0;
/* width: 800px; */
width: 1000px;
background-color: black;
padding: 20px;
padding-top: 0px;
padding-bottom: auto;
border-radius: 30px;
box-shadow: inset 0 0 10px rgba(0,0,0,.5);}

article0{
  width: auto;
  postion: center;
  margin-left: 0, auto;
  margin-right: 0, auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: auto;
  background: #e8803e;
  padding: 0px; 
  padding-bottom: 10px;
  margin: 10px;
  margin-top: -80px;
}

article1
{
/*  menu section description  */
  border: gray;
  background: #F5F5F5;
  margin: 10px, auto;
  padding: 5px;
  width: 100%;
  postion: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: auto;
  text-align: center;
}



footer{
  
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  text-align: center;
    margin-bottom: -10px;
 
  
}

.footer-wrapper { width: 100%;}

.footer-wrapper > a > img{ 
  height: 60%;
  width: 60%; 
text-decoration: none;
}
.footer-wrapper > a > img:hover{cursor:pointer;}


/*-------------GRIDS-------------  */


.grid-container, .grid-flex{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.grid-container > div {
  border-radius: 5px;
  border: solid #F5F5F5;
  margin: 2%;
  background-color: #F5F5F5;
  text-align: left;
  padding: 5%;
  font-size: 100%;

}

.grid-container > div:hover {
cursor: pointer;}

@media (min-width: 900px) {
#grid-flex{
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
  display: flex;

  } }




 img {  
  height: auto;
  width: 100%;
  padding: 0%;
  margin: 0%;
 
   
}


/*-------------Screen Responsiveness-------------  */

@media (max-width: 1250px) {
body {
  padding: 30px;
  }
  
}



  

@media (max-width: 900px) {
  h1{
    margin: 0px;
    padding: 6px;
     padding-bottom: 20px;
    line-height: 1;
  }
  h2 {
  line-height: 1;
    
  }
  mark{padding: 8px;}
  
    .grid-container, .grid-flex {
      grid-template-columns: repeat(2, 1fr);}
  
  ::-webkit-scrollbar {
width: 0px;
}
 
  /* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: transparent;
}
}

@media (max-width: 550px) {

  section{
    
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: transparent;
    box-shadow: none;
  }
  
  article0{
    margin: 0px;
/*     border: 4px solid black; */
    
  }
  
  body{ padding: 5px;
  padding-top: 0px; background: black;}
  
  .grid-container {
 grid-template-columns: repeat(1, 1fr);
  grid-gap: 1px;}

.nav{width: 100vw;}
    
.nav li:hover {
 background-color: black;
 color: white;}
  
 .nav a:hover {
  color: white;}


  article{overflow: hidden;}
}



@media (max-width: 730px) {
  iframe {
  width: auto;
  height: auto;
  }
  
  
  
  .nav {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  }
  
 .nav > ul > li >a{ 
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px;
  line-height: 0.2;}
  }article0{ background: black;
}